<div class="parent">
    <div class="header app_width" (scroll)="onWindowScroll($event);">
        <div class="logo">
            <img *ngIf="scrolled" src="../../assets/FCD Assets/logo_assets/png/firct_click_v2-06.png" alt="">
            <img *ngIf="!scrolled" src="../../assets/FCD Assets/logo_assets/svg/white_logo.svg" alt="">
        </div>
        <div class="quickLinks">
            <ul>
                <li (click)="GotoToService('services')">Services</li>
                <li (click)="GotoToService('Reviews')">Reviews</li>
                <li (click)="GotoToService('Clients')">Clients</li>
                <li (click)="GotoToService('About')">About</li>
                <li (click)="GotoToService('Contact')">Contact Us</li>
            </ul>
        </div>
    </div>

</div>