<div class="footer app_width">
    <div class="logo">
        <img src="../../assets/FCD Assets/logo_assets/png/firct_click_v2-06.png" alt="">
    </div>
    <div class="services">
        <p>Services</p>
        <ul>
            <li>Service 1</li>
            <li>Service 2</li>
            <li>Service 3</li>
            <li>Service 4</li>
            <li>Service 5</li>
        </ul>
    </div>

    <div class="Sitemaps">
        <p>Sitemaps</p>
        <ul>
            <li>Sitemap 1</li>
            <li>Sitemap 2</li>
            <li>Sitemap 3</li>
            <li>Sitemap 4</li>
            <li>Sitemap 5</li>
        </ul>
    </div>

    <div class="knowus">
        <p>Know Us</p>
        <ul>
            <li>Know 1</li>
            <li>Know 2</li>
            <li>Know 3</li>
            <li>Know 4</li>
            <li>Know 5</li>
        </ul>
    </div>

    <div class="contacts">
        <p>Contacts</p>
        <ul>
            <li>Contacts 1</li>
            <li>Contacts 2</li>
            <li>Contacts 3</li>
            <li>Contacts 4</li>
            <li>Contacts 5</li>
        </ul>
    </div>

    <div class="socials">
        <img src="../../assets/FCD Assets/Assets/social_media/Group 14.png" alt="">
        <img src="../../assets/FCD Assets/Assets/social_media/Group 14.png" alt="">
        <img src="../../assets/FCD Assets/Assets/social_media/Group 14.png" alt="">
        <img src="../../assets/FCD Assets/Assets/social_media/Group 14.png" alt="">
    </div>

</div>

<p class="bottomLine"> @FirstClickDigital, 2020. Embark on your digital journey!</p>