.meat {
  margin-top: 50px;
  width: 1249px;
  margin: 68px auto;
  text-align: center;
}

input,
textarea,
button {
  margin: 20px;
}
textarea {
  vertical-align: middle;
}

form {
  border: 1px solid black;
  width: max-content;
  margin: 30px auto;
  padding: 30px;
}

.contactUs img {
  max-width: 100%;
  background-color: #3fb8c4;
}

.fff div {
  width: 200px;
}
label {
  width: 300px;
}
.fff {
  display: flex;
  align-items: center;
}

.lble {
  flex: 0 1 20%;
}
