<div class="clients app_width">
    <h2>WHAT OUR CLIENTS SAYS</h2>
    <div class="client">
        <div>
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus inventore asperiores iste
                aperiam
            </p>
        </div>
        <div>
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus inventore asperiores iste
                aperiam
            </p>
        </div>
        <div>
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus inventore asperiores iste
                aperiam
            </p>
        </div>
        <div>
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus inventore asperiores iste
                aperiam
            </p>
        </div>
        <div>
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus inventore asperiores iste
                aperiam
            </p>
        </div>
    </div>
</div>