<div class="whyUs app_width">
    <h2>WHY CHOOSE US?</h2>
    <div class="reason">
        <div class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus esse, optio dolorum autem dignissimos
            repellendus libero consectetur ea architecto veniam, iusto maiores molestiae, error fugit veritatis incidunt
            magnam itaque perspiciatis.
        </div>
        <img src="../../assets/FCD Assets/Assets/why_choose_us/Group 25.png" alt="">
    </div>
</div>