<div class="mainLand app_width">
    <div class="content">
        <div class="hero">
            <div class="text">
                <h3>
                    YOUR
                </h3>
                <h2><strong>
                        BUSSINESS
                    </strong></h2>
                <h3>
                    OUR
                </h3>
                <h2><strong>
                        EXPERTISE
                    </strong></h2>
            </div>
            <div class="image">
                <img src="../../assets/FCD_Assets/75 [Converted].png" alt="devices" class=devices>
                <img src="../../assets/FCD_Assets/graph2.gif" alt="graphs" class="graphs graph1">
                <img src="../../assets/FCD_Assets/graph2.gif" alt="graphs" class="graphs graph2">
            </div>
        </div>
        <div class="gettingStarted">
            <p class="dialogue1">A JOURNET OF GROWTH, TOGETHER!</p>
            <button type="button">GET STARTED</button>
            <p class="dialogue2">Already have a website?</p>
        </div>

    </div>

</div>