<div class="processes app_width">
    <div class="process">
        <img src="../../assets/FCD_Assets/logo_assets/png/firct_click_v2-10.png" alt="">
        <div class="text">
            <p class="title">Process 1</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum amet quas molestias,
                nihil error deleniti, iste accusamus autem consectetur magni culpa dignissimos maiores veniam, soluta
                quam fugiat. Explicabo, cumque optio?</p>
        </div>
    </div>
    <div class="process">
        <div class="text">
            <p class="title">Process 1</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum amet quas molestias,
                nihil error deleniti, iste accusamus autem consectetur magni culpa dignissimos maiores veniam, soluta
                quam fugiat. Explicabo, cumque optio?</p>
        </div>

        <img src="../../assets/FCD_Assets/logo_assets/png/firct_click_v2-10.png" alt="">
    </div>
</div>