<div class="offerings app_width " id="#services">
    <h2>THINGS WE'RE GOOD AT</h2>
    <div class="skills">
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/web_design/Vector.svg" alt="">
            <p> WEB DESIGN </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/web_dev/Vector.svg" alt="">
            <p> WEB DEVELOPMENT & DOMAIN HOSTING </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/seo/Vector.svg" alt="">
            <p> SEO </p>
        </div>
    </div>
    <div class="skills">
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/google_local_listing/Vector.svg" alt="">
            <p> GOOGLE LOCAL LISTING </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/google_analytics/Vector.svg" alt="">
            <p> GOOGLE ANALYTICS </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/google ads/Vector.png" alt="">
            <p> GOOGLE ADS </p>
        </div>
    </div>
    <div class="skills">
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/google_search_and_display/Vector.svg" alt="">
            <p> GOOGLE SEARCHING AND DISPLAY ADS </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/social_media/Group 14.svg" alt="">
            <p> SOCIAL MEDIA MARKETING </p>
        </div>
        <div class="skill">
            <img src="../../assets/FCD_Assets/Assets/sem/Vector.svg" alt="">
            <p> SEM </p>
        </div>
    </div>

</div>