<div class="services">
    <h2 class="heading">Our Services</h2>
    <div class="servicesSection">
        <h3 class="serviceName">Web Design</h3>
        <div class="serviceContent">
            <p class="serviceText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iste laudantium
                facilis eos numquam!
                Hic quisquam mollitia, voluptate velit voluptates earum nemo blanditiis ad corporis incidunt et id aut
                dolores.</p>
            <img class="serviceImage" src="../../assets/FCD_Assets/Assets/web_design/Vector.svg" alt="">
        </div>
    </div>
</div>