/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}
@media screen and (max-width: 1249px) {
  html {
    width: fit-content;
  }
}

button {
  border: 0px;
}
