<div class="teams app_width">
    <h2 class="heading"> OUR TEAMS</h2>
    <div class="content">
        <div class="team">
            <img class="profile" src="https://appvital.com/images/profile/file-uploader-api-profile-avatar-2.jpg"
                alt="">
            <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, enim! Delectus quidem, corporis quos
            </p>
        </div>
        <div class="team">
            <img class="profile" src="https://appvital.com/images/profile/file-uploader-api-profile-avatar-2.jpg"
                alt="">
            <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, enim! Delectus quidem, corporis quos
            </p>
        </div>
    </div>
</div>